<div class="main_index">

  <div class="row">
  <h3>マイタスク</h3>
  <div class="row">
    <% unless @challenge_tasks.blank? %>
      <% @challenge_tasks.each do |challenge_task|%>
        <div class="col-sm-12 col-lg-6 col-xl-4">
          <div class="image-box">
          <%= link_to (image_tag challenge_task.image.url(:medium), class: "image-size"), task_path(id: challenge_task.id)%>
          <div class="card-body">
            <div class="row parts">
              <%= link_to "詳細", challenge_start_path(challenge_task.id), class: "team_info btn btn-outline-primary profile-btn" %>
            </div>
            <div>
              <span><strong><%= challenge_task.title %></strong></span>
              <p class="team-time no-text-decoration" ><%= "#{time_ago_in_words(challenge_task.updated_at).upcase} 前"%></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h3><br>まだ何も課題に取り組んでいません！<br>
      マイチームから課題に挑戦しましょう！</h3>
    <% end %>
  </div>
</div>