<br>
<br>
<br>
<div class="container">
  <h2 class="text-center">プライバシーポリシー</h2><br>

  <h4>　管理者がこのウェブサイト上で提供するSSGL（以下、「本サービス」といいます。）における、ユーザーの個人情報の取り扱いについて、以下のとおり個人情報保護方針を定め、個人情報の保護を推進致します。</h4><br>

  <h3>１）個人情報の管理</h3>
  <h4>　管理者は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備等の必要な措置を講じ、安全対策を実施し、個人情報の厳重な管理を行います。</h4>

  <h3>２）個人情報の利用目的</h3>
  <h4>　本サービスのご利用にあたりお客さまからお預かりした個人情報は、業務のご案内やご質問に対する回答の際、電子メールや資料のご送付に利用いたします。</h4>

  <h3>３）個人情報の第三者への開示・提供の禁止</h3>
  <h4>　管理者は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、第三者に開示いたしません。</h4>
  <h4>　・お客さまの同意がある場合</h4>
  <h4>　・お客さまがご希望により、他のサービスを行うために管理者が業務を委託する業者に対して開示する場合</h4>
  <h4>　・法令に基づき開示することが必要である場合</h4>

  <h3>４）個人情報の安全対策</h3>
  <h4>　管理者は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。</h4>

  <h3>５）ご本人の照会</h3>
  <h4>　お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</h4>

  <h3>６）法令、規範の遵守と見直し</h3>
  <h4>　管理者は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</h4>

  <h3>７）お問い合せ</h3>
  <h4>　個人情報の取扱に関するお問い合せは下記までご連絡ください。</h4>
  <h4>　管理者：Yosuke Tanaka</h4>
  <h4>　Mail:info@example.co.jp</h4>

  <h3><2020年6月30日制定></h3>
</div>