<div class="main">
  <div class="card form-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h1>ようこそ！</h1>
      </div>
      
      <br>
    </div>
  </div>
</div>