
  <h1 class="title">SSGL</h1>
  <div class="copy">
    <h3><strong>小さな一歩は偉大な飛躍！</strong></h3>
    <div class="read">
      プログラミングをはじめたはいいけどなかなか進まない。。。<br>
      1人だと寂しい。。。誰かと一緒に学習したい。。。そんなこと思っていませんか？<br>
      SSGLはそんなプログラミング初学者のための学習支援サービスです。<br>
      
    </div>
  </div>