
  <%= image_tag "logo.png", class: "title" %>
  <div class="copy">
    <h3><strong>小さく小さく積み上げよう！</strong></h3><br>
    <div class="read">
      学習教材がたくさんあるなかどれを選べばいいか困っていませんか？<br>
      やってみたけど難くて挫折していませんか？<br><br>
      そんな時はメンターに相談して自分のレベルにあった課題を聞いちゃいましょう！<br>
      最初は小さな一歩でも積み上げていけばきっと立派なエンジニアになれます！<br><br>
      SSGLはメンターと初学者をマッチングするサービスです！<br>
    </div>
  </div>