@media screen and (max-width: 320px) {
  .image-size {
    width: 20rem;
    margin: auto;
  }
  .image-box {
    width: 20rem;
    margin: 10px auto 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px #ccc;
  }
}
@media screen and (max-width: 575px) {
  .image-size {
    width: 20rem;
    margin: auto;
  }
  .image-box {
    width: 20rem;
    margin: 10px auto 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px #ccc;
  }
  .button_right {
    margin-top: 1rem;
    margin-right: 1rem;
    position: relative;
    left: 6rem;
  }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .image-size {
    width: 20rem;
    margin: auto;
  }
  .image-box {
    width: 20rem;
    margin: 10px auto 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px #ccc;
  }
  .button_right {
    // margin-top: 1rem;
    margin-right: 2rem;
    position: relative;
    left: 15rem;
  }
  .mobile_button {
    position: relative;
    left: 28.5rem;
    top: -3.25rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .image-size {
    width: 20rem;
    margin: auto;
  }
  .image-box {
    width: 20rem;
    margin: 10px auto 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px #ccc;
  }
  .search_left {
    position: relative;
    left: 4rem;
  }
  .button_right {
    // margin-top: 1rem;
    margin-right: 1rem;
    position: relative;
    left: 10rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .image-size {
    width: 20rem;
    margin: auto;
  }
  .image-box {
    width: 20rem;
    margin: 10px auto 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px #ccc;
  }
  .search_left {
    position: relative;
    left: 4rem;
  }
  .button_right {
    margin-right: 1rem;
    position: relative;
    left: 15rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .image-size {
    width: 18rem;
    margin: auto;
  }
  .image-box {
    width: 18rem;
    margin: 10px auto 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px #ccc;
  }
  .search_left {
    height: 2.5rem;
  }

  .button_right {
    margin-right: 1rem;
    position: relative;
    left: 25rem;
    padding: 5rem;
    width: 8rem;
    text-align: center;
  }
}

@media screen and (min-width: 1300px) {
  .image-size {
    width: 20rem;
    margin: auto;
  }
  .image-box {
    width: 20rem;
    margin: 10px auto 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px #ccc;
  }
  .search_left {
    height: 2.5rem;
  }

  .button_right {
    margin-right: 1rem;
    position: relative;
    left: 34rem;
    padding: 5rem;
    width: 8rem;
    text-align: center;
  }
}
