<div class="main_index">
  <h2>フィードバック一覧</h2>
  <div class="row">
    <% unless @feed_backs.nil? %>
      <% @feed_backs.each do |feed_back|%>
        <div class="col-md-4">
          <div class="image-box">
          <div class="card-body">
            <div>
              <%= feed_back.reason %>
            </div>
            <div class="row parts">
              <%= link_to "詳細", team_feed_back_path(team_id: feed_back.assign.team_id, 
                                                      id: feed_back.id), 
                                                      class: "team_info" %>
                                                      
            </div>
            <div>
              <span><strong><%= feed_back.user.name %></strong></span>
              <%= link_to time_ago_in_words(feed_back.updated_at).upcase + "前", team_feed_back_path(assign_id: feed_back.assign.id, 
                                                                                                      id: feed_back.id), 
                                                                                                      class: "team-time no-text-decoration" %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <% end %>
  </div>
</div>