<div class="main">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        評価:<%= @feed_back.feeling_number %>
      </div>
      <div class="row">
        理由:<%= @feed_back.reason %>
      </div>
    </div>
  </div>
</div>
