<%= form_with(model: comment, url: comments_path(team_id: @comment.team_id, 
                                                assign_id: @comment.assign_id, 
                                                task_id: @comment.task_id, 
                                                challenge_starts: @comment.challenge_start_id, 
                                                answer_id: @comment.answer_id, 
                                                id: comment.id), 
                                                method: :post) do |f| %>
  <div class="field">
    <%= f.text_area :content, id: "comment_content_#{comment.id}" %>
    <%= f.label :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>