.task-index {
  max-width: 100%;
  margin: auto;
  padding-top: 1rem;
  box-sizing: border-box;
  & .task-title {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 3px;
    color: white;
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
      0 7px 10px -5px rgba(255, 152, 0, 0.4);
    position: relative;
    top: 1.5rem;
  }
  & .task-card {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
    & .task-title {
      display: inline-block;
      font-size: 2rem;
      padding-left: 1rem;
    }
  }

  & .task-content {
    display: block;
    width: 100%;
    border: none;
  }
  & .task-link {
    color: black !important;
    padding: 1rem;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
    transition: all 0.3s;
    &:hover {
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
  }
}

.task-round-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
