.courses-index {
  max-width: 100%;
  margin: auto;
  padding-top: 1rem;
  box-sizing: border-box;
  & .courses-card {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
  }
  & .courses-round-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  & .courses-link {
    color: black !important;
    padding: 1rem;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
    transition: all 0.3s;
    &:hover {
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
  }
}
