@import "layouts/colors";
body {
  background-color: $body_white;
  font-size: 14px;
  color: $black;
}

.logo {
  text-align: center;
}

.logo-icon {
  position: relative;
  left: -1rem;

  width: 5rem;
}

.logo-name {
  position: relative;
  left: -1rem;
  top: 1rem;
}

@media screen and (min-width: 992px) {
  .mobile-icon {
    display: none;
    width: 5rem;
  }
}

@media screen and (max-width: 992px) {
  .mobile-icon {
    position: relative;
    left: -1rem;
    width: 5rem;
  }
}
