@import "layouts/colors";
body {
  background-color: $body_white;
  font-size: 14px;
  color: $black;
}

.content {
  background-color: white;
  width: 30rem;
  height: 15rem;
  box-shadow: 0 2px 5px #ccc;
}
