<div class="main_index">
  <h2>ユーザー一覧</h2>
  <div class="row">
    <% @users.each do |user|%>
      <div class="col-md-4">
        <%= link_to (image_tag avatar_url(user), class: "round-img"), user_path(user.id)%>
        <br>
        <span><strong><%= user.name %></strong></span>
        <%= link_to time_ago_in_words(user.updated_at).upcase + "前", user_path(user.id), class: "team-time no-text-decoration" %>

      </div>
    <% end %>
  </div>
</div>