<div class="user-index">
  <h3 class="user-title">プロフィール</h3>
  <div class="user-card">

    <%= image_tag avatar_url(@assign_user.user), class: "round-img" %>
    <span class="user-name"><%= @assign_user.user.name %></span>
      <div class="row">
        <% if @assign_user.status == "admin" %>
          <h3>管理者</h3>
        <% elsif @assign_user.status == "mentor" %>
          <h3>メンター</h3>
        <% elsif @assign_user.status == "member"%>
          <h3>メンバー</h3>
        <% end %>
      </div>
      <div class="row">
        <p class="profile"><%= @assign_user.user.profile %></p>
      </div>
    </div>
  </div>
</div>
