<div class="users-index">
  <h2 class="users-title">メンバー</h2>
  <div class="users-card">
    <% assigns.each do |assign|%>
      <div class="row">
        <%= link_to(user_path(id: assign.user.id) ,class: "users-link") do %>
        <%= image_tag assign.user.image.url(:medium), class: "users-round-img" %>
          <span><strong><%= assign.user.name %></strong></span>
          <p class="team-time no-text-decoration"><%= "#{time_ago_in_words(assign.user.updated_at).upcase}前" %></p>
          <% if assign.status == "admin" %>
            <span class="badge badge-warning">管理者</span>
          <% elsif assign.status == "memtor" %>
            <span class="badge badge-success">メンター</span>
          <% elsif assign.status =="member" %>
            <span class="badge badge-info">メンバー</span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>