      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <%= link_to "利用規約", top_terms_of_service_path %>
              </li>
              <li>
                <%= link_to "プライバシーポリシー", top_privacy_policy_path %>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;2020, yodev21
          </div>
        </div>
      </footer>