<li class="nav-item">
  <%= link_to belong_teams_path, class: "nav-link" do %>
    <i class="material-icons">group</i>
    <p>マイチーム</p>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to teams_path, class: "nav-link" do %>
    <i class="material-icons">record_voice_over</i>
    <p>アウトプットを確認</p>
    <p>　　　(準備中)</p>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to teams_path, class: "nav-link" do %>
    <i class="material-icons">question_answer</i>
    <p>Q<small>&</small>Aを確認</p>
    <p>　　　(準備中)</p>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to teams_path, class: "nav-link" do %>
    <i class="material-icons">transfer_within_a_station</i>
    <p>メンバーに戻る</p>
    <p>　　　(準備中)</p>
  <% end %>
</li>