@media screen and (max-width: 576px) {
  .right_answer_button {
    position: relative;
    top: -0.5rem;
    left: -1.8rem;
  }
  .conmplete_button {
    margin-right: 1rem;
    position: relative;
    top: -0.5rem;
    left: 2.8rem;
  }
  .comment_info {
    text-align: left;
  }
  .image-box-comment {
    width: 25rem;
    margin: 10px auto 20px;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .right_answer_button {
    position: relative;
    top: -0.5rem;
    left: -3rem;
  }
  .conmplete_button {
    margin-right: 1rem;
    position: relative;
    top: -0.5rem;
    left: 4rem;
  }
  .comment_info {
    text-align: left;
  }
  .image-box-comment {
    width: 25rem;
    margin: 10px auto 20px;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .right_answer_button {
    position: relative;
    top: -0.5rem;
    left: -8.5rem;
  }
  .conmplete_button {
    margin-right: 1rem;
    position: relative;
    top: -0.5rem;
    left: 9.5rem;
  }
  .comment_info {
    text-align: left;
  }
  .image-box-comment {
    width: 35rem;
    margin: 10px auto 20px;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .right_answer_button {
    position: relative;
    top: -0.5rem;
    left: -16rem;
  }
  .conmplete_button {
    margin-right: 1rem;
    position: relative;
    top: -0.5rem;
    left: 17rem;
  }
  .comment_info {
    text-align: left;
  }
  .image-box-comment {
    width: 50rem;
    margin: 10px auto 20px;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
  }
}

@media screen and (min-width: 1200px) {
  .right_answer_button {
    position: relative;
    top: -0.5rem;
    left: -17rem;
  }
  .conmplete_button {
    margin-right: 1rem;
    position: relative;
    top: -0.5rem;
    left: 18rem;
  }
  .comment_info {
    text-align: left;
  }
  .image-box-comment {
    width: 50rem;
    margin: 10px auto 20px;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
  }
}
