.feed-back-show {
  max-width: 100%;
  margin: auto;
  padding-top: 1rem;
  box-sizing: border-box;
  & .feed-back-title {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 3px;
    color: white;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
      0 7px 10px -5px rgba(156, 39, 176, 0.4);
    background-color: #9c27b0;
    position: relative;
    top: 1.5rem;
  }
  & .feed-back-card {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
    & .feed-back-title {
      display: inline-block;
      font-size: 2rem;
      padding-left: 1rem;
    }
  }
  & .feed-back-round-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
}
