<div class="feed-backs-index">
  <br>
  <br>
  <h2 class="feed-backs-title">フィードバック</h2><br>
  <div class="feed-backs-card">
    <% unless @feed_backs.blank? %>
      <% @feed_backs.each do |feed_back|%>
        <div class="row">
          <%= link_to(mentor_feed_back_path(task_id: feed_back.task_id, id: feed_back.task_id), class: "feed-backs-link") do  %>
            <%= image_tag feed_back.task.image.url(:medium), class: "feed-backs-round-img" %>
            <%= feed_back.task.title %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="row">
        <h4>現在フィードバックはありません。</h4>
      </div>
    <% end %>
  </div>
</div>