<div class="main_index">
  <div>
    <span><strong>ユーザー数: <%= @user_count %></strong></span><br>
  </div>
  <div class="row">
    <% @users.each do |user|%>
      <div class="col-md-4">
        <%= link_to (image_tag avatar_url(user), class: "round-img"), administrator_path(user.id)%>
        <br>
        <span><strong><%= user.name %></strong></span>
        <%= link_to time_ago_in_words(user.updated_at).upcase + "前", administrator_path(user.id), class: "team-time no-text-decoration" %>

      </div>
    <% end %>
  </div>
</div>