.belong-team-index {
  max-width: 100%;
  margin: auto;
  padding-top: 1rem;
  box-sizing: border-box;
  & .belong-team-title {
    width: 15%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 3px;
    color: white;

    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
      0 7px 10px -5px rgba(255, 152, 0, 0.4);
    position: relative;
    top: 1rem;
    left: 1rem;
  }
  & .belong-team-card {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
    & .belong-team-name {
      display: inline-block;
      font-size: 2rem;
      padding-left: 1rem;
    }
  }

  & .belong-team-round-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }

  & .belong-course-title {
    padding: 0.5rem;
    border-radius: 3px;
    color: white;
    width: 15%;
    text-align: center;

    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
      0 7px 10px -5px rgba(76, 175, 80, 0.4);
    position: relative;
    top: 2rem;
    left: 1rem;
  }
  & .belong-courses {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;

    & .belong-course-round-img {
      border-radius: 50%;
      width: 120px;
      height: 120px;
    }
    & .belong-course-link {
      color: black !important;
      padding: 1rem;
      width: 100%;
      background-color: white;
      border-radius: 3px;
      box-shadow: 0 2px 5px #ccc;
      transition: all 0.3s;
      &:hover {
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
