<div class="users-index">
  <h2 class="users-title">ユーザー</h2><br>
  <div class="users-card">
    <% @users.each do |user|%>
      <div class="row">
      <%= link_to(admin_user_path(user) , class: "users-link") do %>
        <%= image_tag avatar_url(user), class: "round-img" %>
        <span><strong><%= user.name %></strong></span>
        <p class="user-time no-text-decoration"><%= "#{time_ago_in_words(user.updated_at).upcase}前" %></p>
      <% end %>
      </div>
    <% end %>
  </div>
</div>