.profile-wrap {
  // position: relative;
  // top: 100px;
}

.round-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.profile-btn {
  position: relative;
  left: 1rem;
  font-weight: bold;
  height: 2.6rem;
}
